@tailwind base;
@tailwind components;
@tailwind utilities;



body {
  background: white;
  font-family: var(--font-montserrat), sans-serif;
}
.prose-inherit * {
  color: inherit !important;
}

/* globals.css or your custom CSS file */
.ProseMirror {
  padding: 1rem;
  border-radius: 0.5rem;
  min-height: 200px;
  outline: none;
  background-color: white;
  height: 250px;
  overflow-y: scroll;
}

.ProseMirror:focus {
  border-color: #3b82f6; /* Blue border on focus */
}


.bullet-list {
  list-style-type: disc;
  padding-left: 20px;
  padding-right: 20px;
}

.ordered-list {
  list-style-type: decimal;
  padding-left: 20px;
  padding-right: 20px;
}

.tiptap p {
  margin-bottom: 1rem; /* Adjust this value to control the space between paragraphs */
}
/* Or if you want to target only post content */
.prose p {
  margin-bottom: 1rem; /* Adjust as needed */
}


/* Or if you want to target only post content */
.post-content p {
  margin-bottom: 1rem;
}

.tiptap ul {
  list-style-type: disc;
  padding-left: 20px;
  padding-right: 20px;
}
.tiptap ol {
  list-style-type: decimal;
  padding-left: 20px;
  padding-right: 20px;
}


 ul {
  list-style-type: disc;
  padding-left: 20px;
  padding-right: 20px;
}
ol {
  list-style-type: decimal;
  padding-left: 20px;
  padding-right: 20px;
}


/* Add this to your global CSS */
#card-number,
#expiration-date,
#cvv {
  border: 1px solid rgb(212, 212, 212); /* Debugging border */
  height: 40px;
  width: 100%;
  margin-bottom: 10px;
  padding-left: 10px;
}


.paypal-hosted-field {
  height: 40px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: white;
  width: 100%;
  box-sizing: border-box;
}


.leaflet-container {
  width: 100%;
  height: 100%;
  min-height: 400px;
}

/* Fix for default marker icons in Next.js */
.leaflet-default-icon-path {
  background-image: url('https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.7.1/images/marker-icon.png');
}









/***** for menu */



@keyframes flickerHover {
  0% {
    background: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(20px);
  }
  12% {
    background: rgba(255, 255, 255, 0.7);
    backdrop-filter: blur(8px);
  }
  24% {
    background: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(18px);
  }
  36% {
    background: rgba(255, 255, 255, 0.85);
    backdrop-filter: blur(5px);
  }
  48% {
    background: rgba(255, 255, 255, 0.25);
    backdrop-filter: blur(15px);
  }
  60% {
    background: rgba(255, 255, 255, 0.9);
    backdrop-filter: blur(3px);
  }
  72% {
    background: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(12px);
  }
  84% {
    background: rgba(255, 255, 255, 0.95);
    backdrop-filter: blur(2px);
  }
  100% {
    background: rgba(255, 255, 255, 1);
    backdrop-filter: blur(0px);
  }
}

@keyframes contentFlickerHover {
  0% {
    color: white;
    opacity: 1;
  }
  12% {
    color: #785964;
    opacity: 0.4;
  }
  24% {
    color: white;
    opacity: 0.9;
  }
  36% {
    color: #785964;
    opacity: 0.3;
  }
  48% {
    color: white;
    opacity: 0.8;
  }
  60% {
    color: #785964;
    opacity: 0.2;
  }
  72% {
    color: white;
    opacity: 0.7;
  }
  84% {
    color: #785964;
    opacity: 0.1;
  }
  100% {
    color: #785964;
    opacity: 1;
  }
}

.animate-flickerHover {
  animation: flickerHover 350ms ease-in-out forwards;
}

.animate-contentFlickerHover {
  animation: contentFlickerHover 350ms ease-in-out forwards;
}

@media (max-width: 1000px) {
  .segment-content ion-icon {
    font-size: 20px;
  }
}





@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-scroll {
  animation: scroll var(--animation-duration, 40s) var(--animation-direction, forwards) linear infinite;
}